


.context .a{
    background: goldenrod;
    padding: 20px;
    margin: 10px;
}

.context .b{
    background: indianred;
    padding: 20px;
    margin: 10px;
}

.context .c{
    background: palevioletred;
    padding: 20px;
    margin: 10px;
}